<style type='text/css'>
<!--
.graph_slider {
    display: inline-block;
}
.graph_slider a {
    display: inline-block;
    background-color: #c0c0c0;
    width: 10pt;
    height: 10pt;
    margin: 1px;
}
.graph_slider a.active {
    background-color: #90a0b0;
}
.graph_slider a:hover {
    background-color: #90a0b0;
}
#graph {
    margin: 0 auto;
}
-->
</style>

{{msg}}
<div id='graph'></div>

<script type='text/javascript' src='{{cfg::img_dir}}/js/highcharts.js'></script>

<script type='text/javascript'>
 Highcharts.setOptions({
    global: {
        useUTC: false
    }
 });

 nody.graph = function() {

    var chart = new Highcharts.Chart({
            chart: {
                renderTo: 'graph',
                zoomType: 'x',
                spacingRight: 10
            },
            title: {
                text: "{{title}}",
                useHTML: true
            },
            xAxis: {
                title: {
                    text: 'Время',
                },
                labels: {
                    {% if type %}
                    {% else %}
                    formatter: function() {
                              return Highcharts.dateFormat('%H:%M', this.value*1000);
                    },
                    {% endif %}
                },
                type: 'datetime',
                gridLineWidth: 1
            },
            yAxis: {
                title: {
                    text: '{{y_title}}'
                },
                min: 0,
                startOnTick: true,
                showFirstLabel: false
            },
            tooltip: {
                enabled: false,
                shared: true,
                useHTML: true,
                formatter: function() {
                    return this.series.name + ': ' + Highcharts.numberFormat(this.y, 2);
                }
            },
            plotOptions: {
                spline: {
                    lineWidth: 2,
                    marker: {
                        enabled: false,
                    },
                    shadow: false,
                },
                line: {
                    lineWidth: 2,
                    marker: {
                        enabled: false,
                    },
                    shadow: false,
                },
                column: {
                    borderWidth: 3,
                },
                series: {
                    events: {
                        legendItemClick: function(event) {
                            nody.ajax({
                                a    : 'ajGraphDel',
                                id   : this.options.id,
                                group: '{{group}}',
                                domid: '{{domid}}'
                            });
                        }
                    }
                }
            },

            legend: {
                layout: 'vertical',
                labelFormatter: function() {
                    return this.name
                },
                itemStyle: { lineHeight : '20px' },
            },
            series: [ 
                {% for s in series %} {
                    type: {% if type %}'spline'{% else %}'spline'{% endif %},
                    id  : '{{s.id}}',
                    name: '{{s.name}}',
                    data: [ {{s.points}} ]
                },{% endfor %}
            ]
    });

    $('.graph_slider').each( function(){
        var height = 4;
        $(this).find('a').each( function(){
            $(this).css({height:height});
            height += 1;
        });
    });

    var container = $('#graph');
    var buttons = $('#graph_buttons');
    var origChartWidth  = container.width();
    var origChartHeight = container.height();

    $("<button class='nav_button'>→</button>").
        appendTo(buttons).
        click( function(){
            chart.setSize(container.width() * 1.1, container.height());
        });
    $("<button class='nav_button'>↓</button>").
        appendTo(buttons).
        click( function(){
            chart.setSize(container.width(), container.height() * 1.1);
        });
    $("<button class='nav_button'>1:1</button>").
        appendTo(buttons).
        click( function(){
            chart.setSize(origChartWidth, origChartHeight);
        });
    $("<button class='nav_button' style='float:right'>Удалить все</button>").
        appendTo(buttons).
        click( function(){
            nody.ajax({
                a     : 'ajGraphDel',
                group : '{{group}}',
                domid : '{{domid}}',
                type  : '{{type}}'
            });
        });
    nody.make_ajax();

};

</script>

