<!doctype html>
<html>
<head>
<meta http-equiv='Cache-Control' content='no-cache'>
<meta http-equiv='Pragma' content='no-cache'>
<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
<style type='text/css'>
body { 
    max-width: 800px;
    font-size: 11pt;
    font-family: Tahoma,sans-serif;
    color: #000;
    background-color: #fff;
    text-align: left;
    margin: 0 auto;
}
.tbl {
    border: 1px solid #666;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: left;
}
.tbl td {
    padding: 4pt 25pt;
    border-width: 1px;
    border-style: solid;
    border-color: #c0c0c0 #ffffff #c0c0c0 #ffffff;
}
</style>
</head>
<body>

<p style='text-align: center; font-size: 120%;'>Настройки подключения для доступа в интернет</p>
<table class='tbl'>
<tr> <td>Логин</td>  <td>{{users.name}}</td> </tr>
<tr> <td>Пароль</td> <td>{{users.pass}}</td> </tr>

{% for ip in ips %}
    <tr> <td>Ip</td> <td>{{ip.ip}}</td> </tr>
    <tr> <td>Маска подсети</td>
        <td>
        {% if ip.ip =~ /^10.100.100/ %}
            255.255.255.0   
        {% else %}
            255.255.0.0
        {% endif %}
        </td> 
    </tr>
    <tr> <td>Шлюз</td>
        <td>
        {% if ip.ip =~ /^10.100.100/ %}
            10.100.100.1
        {% else %}
            10.100.0.1
        {% endif %}
        </td>
    </tr>
    <tr> <td>DNS</td> <td>1.1.1.1</td> </tr>
{% endfor %}

</table>

<p>К сети L3 можно подключиться двумя способами:</p>

<ul>
<li>PPPoE подключение. В Windows 7 откройте панель управления, выберите раздел 
"Центр управления сетями и общим доступом" (либо сначала "Сеть и Интернет", а затем этот раздел).
Откройте "Настройка нового подключения или сети", затем "Подключение к интернету".
Создайте новое подключение выбрав "Высокоскоростное (с PPPoE)", в качестве
имени пользователя укажите логин, указанный в текущем бланке, также введите пароль из
бланка. Ip, маску подсети, шлюз и DNS, указанные в настройках никуда вводить не нужно.
<br><br>
</li>

<li>Подключение с помощью авторизатора. В Windows 7 откройте панель управления, выберите раздел 
"Центр управления сетями и общим доступом" (либо сначала "Сеть и Интернет", а затем этот раздел).
Слева выберите "Изменение параметров адаптера". В появившемся окне нажмите правую кнопку мыши
на "Подключение по локальной сети" и в появившемся меню выберите пункт "Свойства".
Далее в новом окне двойным щелчком по "Протокол интернета версии 4" и заполните окно данными
из текущего бланка: ip, маска подсети, основной шлюз, предпочитаемый DNS. Нажмите OK,
после чего откройте Firefox, Opera, Chrome или Internet Explorer и введите адрес http://L3.dp.ua.
Найдите ссылку "Авторизатор" и скачайте его, например, на рабочий стол.
Запустите и введите пароль из текущего бланка.
</li>
</ul>


<h4>Памятка пользователю.</h4>

<p>В наших тарифных планах предусмотрены локальные ресурсы, доступ к которым предоставляется
 на большей скорости чем доступ в интернет (более чем в 10 раз).
В эти ресурсы входят, например, http://ultravideo.in/ - громадный архив видеофильмов.</p>

<p>При массовом использовании торрент-клиента скорость не гарантируется из-за большого
количества потоков, создаваемой этой программой.</p>

<p>Если в вашем доме несколько компьютеров и вы хотите чтобы они были одновременно в Интернет -
вы можете приобрести wifi роутер в компьютерном магазине (ориентировочная стоимость 300грн)
или заказать у нас. Настройка роутера может быть осуществлена вами лично (в настройках
подключение выберите pppoe) либо нашими работниками (стоимость вызова 50 грн).</p>

<p>В грозу вынимайте кабель подключения к интернету из компьютера/роутера.</p>

<p>Доступ к клиентской статистике, например для оплаты, доступен всегда, даже
при заблокированном доступе в интернет.</p>

</div>

</body>
</html>